<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <div class="container mb-3">
      <h2 class="mb-3">About</h2>
      <p>즐거운 나만의 웹사이트입니다</p>
    </div>
  </body>
</html>
